# maven
target/

# IntelliJ project files
.idea
*.iml
out

### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

# sql scripts
test_data.sql
test_query.sql

# system related
.DS_Store

# push.bat
push.bat